body {
  background-image: url("./book_ends.jpg");

  background-size: 100%;
}

.App {
  max-width: 800px;
  margin: 50px auto;
}

.App h1 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  text-align: center;
  margin: 50px 0;
}

audio {
  max-width: 146px;
  margin-top: 10px;
}

section {
  background: rgb(255, 221, 227);
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
