.dictionary-photos img {
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid white;
  padding: 10px;
  background-color: white;
}

@media (max-width: 720px) {
  .dictionary-photos img {
    padding: 5px;
  }
}
